/* reset CSS */

*,::before,::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/* bar de navigation  */


 nav {
    position: absolute;  /*en mais la nav en position absolut pour
      l'image backgrond puisse arivé jusquen haut si no la nave pouse l'image en bas*/ 
    z-index: 10; /* pour etre en premier plans */ 
    width: 100%;
    padding: 25px;
    display: flex;
    justify-content: center;

}

nav a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
    margin: 0 10px;
    color: whitesmoke;
    position: relative; /* pour maitre les bare soulinier sous les lien  */
}

nav a::after {
    content: "";
    position: absolute; /* le parent et en relative */
    bottom: -2px;
    display: block; /*  les psodo element sont en inline (des span) 
    en peut pas leur donné une longeur ou une largeur */
    width: 100%;
    height: 1px;
    background: cornflowerblue;

}

nav a:hover {
    color: cornflowerblue;
    /* transition: 800ms;*/
} 


nav a:hover::after {
    background: whitesmoke;
    /* transition: 800ms; */
    
}

.section1 {
    height: 100vh;
    background: url(/Section_d-accueil_integration/src/citynight.jpg);
    background-size:cover; /* pour adapté l'image a l'ecrant */
    background-position: center; /* le focus de l'image lorsque en reduit la taille
    de la fentre se fera au centre de l'image */
    padding: 0 50px;
    position: relative;

}

.section1 div h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-transform: uppercase;
    padding-top: 200px;
    color: bisque;
    font-weight: 900;
    font-size: clamp(45px,8vw,210px); /* prent 3 parametre la taille mini , la taille entre les deux, la taille max */
}

/* body  */
/* section1 */


 


 img {
    width: 30px;
}